.mf_d_back {
  position: relative;
}

.mf_d_back span {
  position: absolute;
  background-color: #fdffff;
  font-size: 5rem;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 10px;
  top: 10px;
  border-radius: 50%;
  color: #1c2021;
  cursor: pointer;
  user-select: none;
}

.mf_d_movie_detail {
  display: flex;
  align-items: center;
  column-gap: 30px;
  background-color: #2a3335;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: fit-content;
}

.mf_d_md_pic {
  height: max-content;
}

.mf_d_md_pic img {
  width: 130px;
  height: inherit;
  object-fit: cover;
  border-top-left-radius: 10px;
}

.mf_d_md_d_title {
  font-size: 3rem;
  line-height: 60px;
}
.mf_d_md_details p {
  font-size: 1.5rem;
  line-height: 40px;
}

.mf_d_more {
  width: 350px;
  margin: 0 auto;
}
.mf_d_more > div:first-of-type {
  padding: 25px 25px;
  margin: 40px auto 20px;
  background-color: #2a3335;
  border-radius: 15px;
}

.mf_d_m_msg {
  width: 200px;
  border-radius: 20px;
  margin: 0px auto 5px;
  text-align: center;
  cursor: pointer;
  background-color: #5b38d2;
  font-size: 1.65rem;
  font-weight: 500;
  padding: 5px 10px;
}

.mf_d_m_msg:hover {
  background-color: #442a9f;
}

.mf_d_brief {
  font-size: 1.5rem;
  font-style: italic;
}

.mf_d_brief > span {
  display: block;
  margin-bottom: 20px;
}
