.mf_watch_list {
  padding: 20px;
  background-color: #2a3335;
  border-radius: 10px;
  box-shadow: 00px 1px 20px rgb(23, 23, 23);
}
.mf_wl_title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.mf_wl_info {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 1.8rem;
  font-weight: bold;
}

.mf_wl_movies {
  margin-top: 20px;
}
