.n_container {
  background-color: #5b38d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin: 20px 30px;
  border-radius: 10px;
}

.n_brand_name {
  font-size: 3em;
  font-weight: bold;
}

.n_search_bar {
  font-size: 1.8rem;
  font-weight: lighter;
  border: none;
  outline: none;
  background-color: #6f46f1;
  color: #f4e8ff;
  padding: 10px 20px;
  width: 450px;
  border-radius: 10px;
}

.n_results {
  font-size: 2.3rem;
  font-weight: light;
}

.n_results > span {
  font-weight: bold;
}
